{% extends "base.html" %}

{% block content %}
    <section id="login_section" style="display: grid; align-items: center; justify-content: center; margin: 100px;">

        <div id="login-title">
            <h1> Sign in </h1>
        </div> <br>
        
        <form style="margin: 0;">
            <div style="border: 1px solid black; padding: 10px;">
                <label for="user-name" style="position: absolute; margin: 0;">
                    Username
                </label>
                <div>
                    <input type="text" id="user-name" style="border-width: 0; min-height: 50px; min-width: 300px;">
                </div>
                <div aria-hidden="true" hidden="true">
                    <p>
                        WRONG! YOU GOT IT WRONG!
                    </p>
                </div>
            </div>
        </form>
    </section>
{% endblock %}


<!--             
            div
                label
                input-wrapper
                Invalid-text
 -->