{% extends "base.html" %}

{% block head %}
    <!-- This adds the script used for logging in -->
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
    <section id="login_section" style="display: grid; align-items: center; justify-content: center; margin-top: 100px;">
        <form id="login_form" class="container-lg" method="post" action="" novalidate>
            <div id="login-title">
                <h1> Sign in </h1>
            </div> <br>
            <div id="form_username" class="login_field">
                <label for="login_input_username">
                    Username
                </label> <br>
                <div>
                    {{ form.username(size=32, id="login_input_username", placeholder="your-username") }}
                    <!-- <input type="text" name="username" id="login_input_username" required placeholder="your-username"> -->
                </div>
            </div> <br>
            <div id="form_password" class="login_field">
                <label for="login_input_password">
                    Password
                </label> <br>
                <div>
                    {{ form.password(size=32, id="login_input_password", placeholder="********") }}
                    <!-- <input type="password" name="password" id="login_input_password" required placeholder="******"> -->
                </div>
            </div> <br>
            <div id="form_remember_me" class="login_field" style="display: flex; justify-content: space-between; align-items: center;">
                <div > {{ form.remember_me.label(style="position: relative;") }} </div>
                <div style="height: 25px;"> {{ form.remember_me(style="min-height: 25px; min-width: 25px; margin: 0;") }} </div>
            </div> <br>
            <div class="login_field_submit">
                {{ form.submit(class="login_input_submit", id="login_input_submit") }}
                <!-- <input type="submit" id="login_input_submit" class="login_input_submit" value="Sign in" method="POST"> -->
            </div>
        </form> <br>
    </section>
    <section id="register_section" style="display: grid; align-items: center; justify-content: center;">
        <p> Don't have an account? </p>
        <a href="{{ url_for('register') }}">Register here!</a>
    </section>
{% endblock %}


<!--             
            div
                label
                input-wrapper
                Invalid-text
 -->