{% extends "base.html" %}

<!-- Head -->
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

<!-- Content -->
{% block content %}
    <section id="404_primary_content" class="container text-center justify-content-center">
        <h1 class="text-3">{{ code }}</h1>
        <h3 class="text-0">{{ title }}</h3>
        <span class="text-0">{{ message }} Please try again later.</span> 
        <div class="d-flex align-center justify-content-center mt-3">
            <a id="homepage_button" href="{{ url_for('intro.intro') }}" class="container col-3 base-button text-0 bg-2" style="box-shadow: 0 0 10px rgba(0,0,0,0.1);">
                Return to Homepage
            </a>
        </div>
        
        <!-- </a> -->
    </section>
{% endblock %}