:root {
    --base-colour-0: #3CC47C;
    --base-colour-1: #1E392A;
    --base-colour-2: #E9C893;
    --base-colour-3: #828081;
}

/* makes it so that footer always appears at bottom using flex */
html, body {
    height: 100%;               
}
body {
    display: flex;              
    flex-direction: column;     
}
main {
    flex: 1 0 auto;             
}
footer {
    flex-shrink: 0;             
}

#header {
    flex-shrink: 0;
}


.header-link {
    padding: 10px;
}

/* This is only for mobile-adjustments when the screen is too small */
@media only screen and (max-width: 500px) {
    .hide-500 {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .hide-900 {
        display: none;
    }
}
