
.game-text {
    font-size: 1.5em;
    color: grey;
    padding: 20px; 
    margin: 20px; 
    background-color: #f8f8f8;
}
.game-text:focus {
    color: black;
}

.right-char {
    background-color: lightgreen;
}

.wrong-char {
    background-color: salmon;
}

