{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
{% endblock %}

{% block content %}



<section class="leaderboard-container">
    <h2 class="leaderboard-title">Leaderboard</h2>
    <!-- <canvas id="stats-chart" data-period="all"></canvas> -->
    <!-- can add a selector here -->
    <table class="leaderboard-table">
        <thead>
            <tr style="background-color: var(--base-colour-2);">
                <th style="padding: 18px">Rank</th>
                <th style="padding: 18px">Username</th>
                <th style="padding: 18px">Highest WPM</th>
            </tr>
        </thead>
        <tbody id="leaderboard-body">
            <!-- {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.highest_wpm }}</td>
            </tr>
            {% endfor %} -->
            
        </tbody>
    </table>
</section>

<script>
    async function fetchLeaderboard(){
        try{
            const response = await fetch('/api/leaderboard');
            
            const data = await response.json();

            const leaderboardBody = document.getElementById('leaderboard-body');
            leaderboardBody.innerHTML = '';

            data.username.forEach((username, index)=>{
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${index + 1}</td>
                    <td>${username}</td>
                    <td>${data.wpm[index]}</td>
                `;
                leaderboardBody.appendChild(row);
            }
            );
        }catch (error){
            console.error('Failed to fetch leaderboard:', error);

        }
    }
    // fetch leaderboard data every 5 seconds
    setInterval(fetchLeaderboard, 5000)
    fetchLeaderboard();
</script>
{% endblock %}
