{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
{% endblock %}

{% block content %}
  <!-- purely for Selenium tests -->
  <span id="Stats_ID" hidden></span>
  <h1>Statistics</h1>
  <div id='user_ID' class="user-id">User: {{ username }}</div>

  <div class="filter-buttons">
    <button class="bg-3" onclick="showTable('1')"    id="filter-button-1">Today</button>
    <button class="bg-3" onclick="showTable('7')"    id="filter-button-7">Last 7 Days</button>
    <button class="bg-3" onclick="showTable('28')"   id="filter-button-28">Last 28 Days</button>
    <button class="bg-3" onclick="showTable('all')"  id="filter-button-all">All</button>
  </div>

  <div class="table-section grid-2col" id="tableContainer">
    <div class="left-column">
      <div class="grid-item" id="metric-blocks">
        <!-- Today's stats -->
    <table class="statsTable" id="table-1" style="display: none;">
      <thead>
        <tr><th>Metric</th><th>Value</th><th>Timestamp</th><th>Paragraph No.</th></tr>
      </thead>
      <tbody>
        {% for row in today_table %}
        <tr>
          <td>{{ row.metric }}</td>
          <td>{{ row.value }}</td>
          <td>{{ row.timestamp }}</td>
          <td>{{ row.paragraph }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        <!-- 1) WPM chart -->
    <canvas class="statsChart" id="wpm-chart-1"
        width="400" height="130" style="display: none;"
        data-labels='{{ today_chart.labels    | tojson }}'
        data-wpm='{{ today_chart.wpm       | tojson }}'
        data-averagewpm='{{ today_table[1].value | tojson }}'></canvas>

        <!-- 2) Accuracy chart -->
    <canvas class="statsChart" id="acc-chart-1"
        width="400" height="130" style="display: none;"
        data-labels='{{ today_chart.labels       | tojson }}'
        data-accuracy='{{ today_chart.accuracy  | tojson }}'
        data-averageacc='{{ today_table[2].value | tojson }}'></canvas>

    <!-- Last 7 Days stats -->
    <table class="statsTable" id="table-7" style="display: none;">
      <thead>
        <tr><th>Metric</th><th>Value</th><th>Timestamp</th><th>Paragraph No.</th></tr>
      </thead>
      <tbody>
        {% for row in last7days_table %}
        <tr>
          <td>{{ row.metric }}</td>
          <td>{{ row.value }}</td>
          <td>{{ row.timestamp }}</td>
          <td>{{ row.paragraph }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- 1) WPM chart -->
    <canvas class="statsChart" id="wpm-chart-7"
        width="400" height="130" style="display: none;"
        data-labels='{{ today_chart.labels    | tojson }}'
        data-wpm='{{ today_chart.wpm       | tojson }}'
        data-averagewpm='{{ today_table[1].value | tojson }}'></canvas>

        <!-- 2) Accuracy chart -->
    <canvas class="statsChart" id="acc-chart-7"
        width="400" height="130" style="display: none;"
        data-labels='{{ today_chart.labels       | tojson }}'
        data-accuracy='{{ today_chart.accuracy  | tojson }}'
        data-averageacc='{{ today_table[2].value | tojson }}'></canvas>

    <!-- Last 28 Days stats -->
    <table class="statsTable" id="table-28" style="display: none;">
      <thead>
        <tr><th>Metric</th><th>Value</th><th>Timestamp</th><th>Paragraph No.</th></tr>
      </thead>
      <tbody>
        {% for row in last28days_table %}
        <tr>
          <td>{{ row.metric }}</td>
          <td>{{ row.value }}</td>
          <td>{{ row.timestamp }}</td>
          <td>{{ row.paragraph }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- 1) WPM chart -->
    <canvas class="statsChart" id="wpm-chart-28"
        width="400" height="130" style="display: none;"
        data-labels='{{ today_chart.labels    | tojson }}'
        data-wpm='{{ today_chart.wpm       | tojson }}'
        data-averagewpm='{{ today_table[1].value | tojson }}'></canvas>

        <!-- 2) Accuracy chart -->
    <canvas class="statsChart" id="acc-chart-28"
        width="400" height="130" style="display: none;"
        data-labels='{{ today_chart.labels       | tojson }}'
        data-accuracy='{{ today_chart.accuracy  | tojson }}'
        data-averageacc='{{ today_table[2].value | tojson }}'></canvas>

    <!-- All-time stats -->
    <table class="statsTable" id="table-all" style="display: none;">
      <thead>
        <tr><th>Metric</th><th>Value</th><th>Timestamp</th><th>Paragraph No.</th></tr>
      </thead>
      <tbody>
        {% for row in alltime_table %}
        <tr>
          <td>{{ row.metric }}</td>
          <td>{{ row.value }}</td>
          <td>{{ row.timestamp }}</td>
          <td>{{ row.paragraph }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- 1) WPM chart -->
    <canvas class="statsChart" id="wpm-chart-all"
        width="400" height="130" style="display: none;"
        data-labels='{{ today_chart.labels    | tojson }}'
        data-wpm='{{ today_chart.wpm       | tojson }}'
        data-averagewpm='{{ today_table[1].value | tojson }}'></canvas>

        <!-- 2) Accuracy chart -->
    <canvas class="statsChart" id="acc-chart-all"
        width="400" height="130" style="display: none;"
        data-labels='{{ today_chart.labels       | tojson }}'
        data-accuracy='{{ today_chart.accuracy  | tojson }}'
        data-averageacc='{{ today_table[2].value | tojson }}'></canvas>

        
      </div>
    </div>

    <div class="right-column">
      <div class="doughnut-row" id="doughnut-block">
        <canvas id="mistake-words-chart"
        data-labels-today='{{ today_mistake_labels | tojson }}'
        data-counts-today='{{ today_mistake_counts | tojson }}'
        data-labels-last7='{{ last7days_mistake_labels | tojson }}'
        data-counts-last7='{{ last7days_mistake_counts | tojson }}'
        data-labels-last28='{{ last28days_mistake_labels | tojson }}'
        data-counts-last28='{{ last28days_mistake_counts | tojson }}'
        data-labels-all='{{ alltime_mistake_labels | tojson }}'
        data-counts-all='{{ alltime_mistake_counts | tojson }}'></canvas>

    <canvas id="correct-words-chart"
        data-labels-today='{{ today_correct_labels | tojson }}'
        data-counts-today='{{ today_correct_counts | tojson }}'
        data-labels-last7='{{ last7days_correct_labels | tojson }}'
        data-counts-last7='{{ last7days_correct_counts | tojson }}'
        data-labels-last28='{{ last28days_correct_labels | tojson }}'
        data-counts-last28='{{ last28days_correct_counts | tojson }}'
        data-labels-all='{{ alltime_correct_labels | tojson }}'
        data-counts-all='{{ alltime_correct_counts | tojson }}'></canvas>
        
      </div>

      <!-- paragraph stats tables -->
      <div class="grid-item" id="paragraph-block">
        <h5>Best Peforming Paragraph </h5>
        <!-- Paragraph stats (today) -->
    <table class="statsTable paragraphStatsTable" id="para-table-1" style="display: none;">
      <thead>
        <tr><th>Paragraph ID</th><th>Avg WPM</th><th>Avg Accuracy</th><th>Attempts</th></tr>
      </thead>
      <tbody>
        {% for row in today_paragraph_stats %}
        <tr>
          <td>{{ row.paragraph }}</td>
          <td>{{ row.avg_wpm }}</td>
          <td>{{ row.avg_accuracy }}</td>
          <td>{{ row.attempts }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <!-- Paragraph stats (7-days) -->
    <table class="statsTable paragraphStatsTable" id="para-table-7" style="display: none;">
      <thead>
        <tr><th>Paragraph ID</th><th>Avg WPM</th><th>Avg Accuracy</th><th>Attempts</th></tr>
      </thead>
      <tbody>
        {% for row in today_paragraph_stats %}
        <tr>
          <td>{{ row.paragraph }}</td>
          <td>{{ row.avg_wpm }}</td>
          <td>{{ row.avg_accuracy }}</td>
          <td>{{ row.attempts }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Paragraph stats (28-days) -->
    <table class="statsTable paragraphStatsTable" id="para-table-28" style="display: none;">
      <thead>
        <tr><th>Paragraph ID</th><th>Avg WPM</th><th>Avg Accuracy</th><th>Attempts</th></tr>
      </thead>
      <tbody>
        {% for row in today_paragraph_stats %}
        <tr>
          <td>{{ row.paragraph }}</td>
          <td>{{ row.avg_wpm }}</td>
          <td>{{ row.avg_accuracy }}</td>
          <td>{{ row.attempts }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Paragraph stats (all) -->
    <table class="statsTable paragraphStatsTable" id="para-table-all" style="display: none;">
      <thead>
        <tr><th>Paragraph ID</th><th>Avg WPM</th><th>Avg Accuracy</th><th>Attempts</th></tr>
      </thead>
      <tbody>
        {% for row in today_paragraph_stats %}
        <tr>
          <td>{{ row.paragraph }}</td>
          <td>{{ row.avg_wpm }}</td>
          <td>{{ row.avg_accuracy }}</td>
          <td>{{ row.attempts }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
    </div>
  </div>
{% endblock %}
