<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SpeedLogger</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <border style="display: flex; align-items: center; justify-content: center; height: 90px; background-color: var(--base-colour-0); overflow: auto;">
            <div style="display: flex; align-items: center; justify-content: center;">
                <border style="margin: 0; border-radius: 50%; border: 2px solid black; background-color: black; height: 75px; width: 75px; margin-right: 15px;"></border>
                <h1 style="margin: 0; font-size: xx-large;">SpeedLogger</h1>
            </div>
            <nav style="position: absolute; left: 2%;">
                <a style="padding: 10px;" href="{{ url_for('intro') }}">Home</a>
                <a style="padding: 10px;" href="{{ url_for('game') }}">Game</a>
                <a style="padding: 10px;" href="{{ url_for('stats') }}">Stats</a>
                <a style="padding: 10px;" href="{{ url_for('leaderboard') }}">Leaderboard</a>
            </nav>
            <nav style="position: absolute; right: 2%;">
                <a style="padding: 10px;" href="{{ url_for('login') }}">Login</a>
                <!-- need to add Sign Up -->
            </nav>
        </border>
        <main class="container" style="padding-top: 4%;">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                {% block content %}{% endblock %}
              </div>
            </div>
        </main>
        <footer class="container" style="padding: 20px 0; border-top: 1px solid #ddd; margin-top: 40px;">
            <div class="row">
              <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                <p class="small">
                  &copy; 2025 SpeedLogger
                  <!-- Add More Footer Stuff Here -->
                </p>
              </div>
            </div>
        </footer>
    </body>
</html>